<launch>
    <!-- IP Adress -->
    <param name="ROS_IP" value="${hostname -I}"/>

    <!-- Connection -->
    <node name="mobile_robot_run" pkg="robot_run" type="mobile_robot_run.py" 
        args="--wait" output="screen" respawn="true"/>

    <!-- Publishers and Subscribers -->
    <include file="$(find mapf)/launch/multi_path_gen.launch"/>
</launch>
